<!DOCTYPE html>
<html>
  <head>
    <title>Example of the Authorization Code flow with Spotify</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="/css/style.css" >
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  </head>
  <body>
    <div class="container" >
      <div class="row" >
        <%- include('partials/weather') %>
        <%- include('partials/time') %>
        <%- include('partials/news') %>
      </div>
      <div class="row" >
        <%- include('partials/stocks') %>
        <%- include('partials/spotify') %>
        <%- include('partials/google') %>
      </div>
    </div>
  </body>
</html>