<!DOCTYPE html>
<html>
  <head>
    <title>Smart Mirror</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap_3.1.1.css" >
    <link rel="stylesheet" type="text/css" href="/css/style.min.css?v=1.01" >
    <link rel="stylesheet" type="text/css" href="/css/market.min.css?v=1.00" >
    <link rel="stylesheet" type="text/css" href="/css/spotify.min.css?v=1.00" >
    <%# <link rel="stylesheet" type="text/css" href="/css/calendar.css?v=1" > %>
    <link rel="stylesheet" type="text/css" href="/css/news.min.css?v=1.00" >
    <link rel="stylesheet" type="text/css" href="/css/weather.min.css?v=1.00" >
    <link rel="stylesheet" type="text/css" href="/css/time.min.css?v=1.00" >
    <script src="/js/jquery_1.10.js"></script>
  </head>
  <body>
    <div class="container" >
      <div class="hidden-md hidden-lg">This site is made to appear on a screen behind a mirror, it will display well on a screen smaller than 768px.</div>
      <div id="loading" class="hidden-xs hidden-sm" ></div>
      <div class="row hidden-xs hidden-sm" style="display: none;" >
        <%- include('partials/weather') %>
        <%- include('partials/time') %>
        <%- include('partials/news') %>
      </div>
      <div class="row hidden-xs hidden-sm" style="display: none;" >
        <%- include('partials/spotify') %>
        <%- include('partials/market') %>
      </div>
    </div>
    <a href="/privacy.html" style="font-size: 8px; color: #fff; text-align: right; display: block;" >Privacy Policy</a>
  </body>
</html>
<script >
let doneLoading = 0, loadingTimeout, stockScrollTimeout, cryptoScrollTimeout;
$(function() {
  function checkLoadStatus () {
    if (loadingTimeout) {
      clearTimeout(loadingTimeout);
    }
    if (doneLoading == 5) {
      $("#loading").hide();
      $(".row").show();
      if (($("#stock-list .stock").length * $("#stock-list .stock:first-child").height()) > $("#stock-list").height()) {
        autoScroll($("#stock-list"), 0, stockScrollTimeout);
      }
      if (($("#crypto-list .stock").length * $("#crypto-list .stock:first-child").height()) > $("#crypto-list").height()) {
        autoScroll($("#crypto-list"), 0, cryptoScrollTimeout);
      }
    } else {
      loadingTimeout = setTimeout(checkLoadStatus, 400);
    }
  }

  function autoScroll($list, idx, scrollTimeout) {
    if (scrollTimeout) {
      clearTimeout(scrollTimeout);
    }
    let max = $list.children(".stock").length;
    let maxOffset = $list.offset().top + $list.height();
    let lastChildOffset = $list.children(".stock:last-child").offset().top;
    let child = $list.children(".stock:nth-child(" + (idx + 1) +")");

    if (child.offset().top - $list.offset().top > child.height()) {
      idx = -1;
    } else {
      $list.animate({ scrollTop: child.height() * idx }, 1000);
    }
    
    if (idx == max - 1) {
      idx = 0;
    } else {
      idx++;
    }
    scrollTimeout = setTimeout(function() {autoScroll($list, idx, scrollTimeout)}, 4000);

  }
  checkLoadStatus();
});
</script>